@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 90%;
  margin: 75px auto;
}
.container .header {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 35px;
}
.container .header__h1 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 25px;
}
.container .header__p {
  color: hsl(225, 20%, 60%);
  font-size: 14px;
  width: 60%;
  margin: auto;
  line-height: 1.7;
}
.container .main {
  position: relative;
}
.container .main::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 58%;
  border-bottom: 1px solid hsl(225, 20%, 60%);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.container .card {
  background-color: hsl(230, 100%, 99%);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 35px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .card__span {
  color: hsl(225, 20%, 60%);
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.container .card__form {
  width: 100%;
  border-radius: 50px;
  margin: 45px 0;
}
.container .card__form input[type=range] {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  border-radius: 50px;
  background-color: hsl(174, 77%, 80%);
  outline: none;
}
.container .card__form input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 150px;
  background-color: hsl(174, 77%, 80%);
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.282);
  cursor: pointer;
}
.container .card__form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 150px;
  background-color: hsl(174, 86%, 45%);
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.282);
  cursor: pointer;
}
.container .card__form input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: 0px 10px 15px rgb(165, 243, 235);
}
.container .card__form input[type=range]::-webkit-slider-thumb:active {
  cursor: grab;
}
.container .card h2 {
  font-size: 32px;
}
.container .card__price {
  display: inline-block;
  font-size: 16px;
  color: hsl(225, 20%, 60%);
  margin-bottom: 45px;
}
.container .card .price {
  color: hsl(227, 35%, 25%);
  font-weight: 800;
  font-size: 32px;
  margin-right: 15px;
}
.container .card__billing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin-bottom: 75px;
  margin-left: 0;
}
.container .card__billing p {
  color: hsl(225, 20%, 60%);
  font-size: 13px;
}
.container .card__billing p span {
  color: hsl(15, 100%, 70%);
  padding: 2px 6px;
  background-color: hsl(14, 92%, 95%);
  border-radius: 50px;
}
.container .card__billing p .span {
  display: none;
}
.container .card__billing .toggle {
  width: 50px;
  height: 25px;
  padding: 5px;
  background-color: hsl(223, 50%, 87%);
  border-radius: 50px;
  position: relative;
  transition: all 400ms ease-in-out;
}
.container .card__billing .toggle:hover {
  cursor: pointer;
  background-color: hsl(174, 77%, 80%);
}
.container .card__billing .toggle .toggle-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: hsl(224, 65%, 95%);
}
.container .card__billing .toggle .toggle-btn-active {
  right: 5px;
}
.container .card__pack {
  text-align: center;
}
.container .card__pack .pack-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}
.container .card__pack .pack-info p {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
}
.container .card-btn {
  margin-top: 20px;
  font-size: 14px;
  border: none;
  padding: 15px 25px;
  width: 200px;
  border-radius: 50px;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
}
.container .card-btn:hover {
  cursor: pointer;
  color: hsl(230, 100%, 99%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 768px) {
  .container .header__h1 {
    font-size: 32px;
  }
  .container .header__p {
    font-size: 16px;
  }
  .container .main::after {
    top: 64%;
  }
  .container .main .card__info {
    grid-area: info;
    display: grid;
    grid-template-areas: "card__span price" "form form" "billing billing";
    align-items: center;
  }
  .container .main .card__info .card__span {
    grid-area: card__span;
  }
  .container .main .card__info .card__form {
    grid-area: form;
  }
  .container .main .card__info h2 {
    grid-area: price;
  }
  .container .main .card__info h2 .card__price {
    margin-bottom: 0;
  }
  .container .main .card__info .card__billing {
    grid-area: billing;
    justify-content: center;
    margin-left: 84px;
    gap: 15px;
  }
  .container .main .card__info .card__billing p .span {
    display: inline-block;
  }
  .container .main .card__pack {
    grid-area: pack;
    margin-left: 34px;
  }
  .container .main .card-btn {
    grid-area: btn;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container .main .card {
    display: grid;
    grid-template-areas: "info info" "pack btn";
  }
}/*# sourceMappingURL=style.css.map */